/* section2 {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
} */
section {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding: 20px;
   
}

/* #banner {
    background-image: url("../images/BANNER-2.jpg") ;
    width: 100%;
    padding:auto;
   
} */
#banner {
    background-image: url("../images/BANNER-2.jpg");
    width: 100%;
    padding: auto;
    background-size: cover;           /* 讓背景圖片覆蓋整個容器 */
    background-position: center;      /* 讓背景圖片居中 */
    background-repeat: no-repeat;     /* 防止背景圖片重複 */
    /* height: 300px;                    您可以根據需要設置高度 */
}

@media (max-width: 768px) {
  
    #banner {
        height: 500px;                /* 在較小屏幕上設置不同的高度 */
    }
    #about {
        height: 500px;                /* 在較小屏幕上設置不同的高度 */
    }

}

@media (max-width: 576px) {
    #banner {
        height: 300px;                /* 在超小屏幕上設置不同的高度 */
    }
    
}


/* 
#about{
     background-image: url("../images/JC.jpg"); 
      background-size: contain; 
} */

html,
body {
    widows: 100%;
    height: 100%;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}


.txt-bg {
    /* Permalink - use to edit and share this gradient. 固定鏈接 - 用於編輯和分享此漸變： https://colorzilla.com/gradient-editor/#4c4c4c+0,666666+6,474747+8,595959+12,666666+16,666666+16,111111+28,666666+41,2c2c2c+52,000000+57,000000+60,111111+66,2b2b2b+76,1c1c1c+91,131313+100 */
 /*background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 6%,#474747 8%,#595959 12%,#666666 16%,#666666 16%,#111111 28%,#666666 41%,#2c2c2c 52%,#000000 57%,#000000 60%,#111111 66%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 
     background-color: #f5f5f7;
     /*background-color: rgba(255, 255, 255, 0.5);*/
     /* background-color: hsla(0, 0%, 100%, 0.5); */
     border-radius: 10px;
     text-align: justify;
     padding: 10px;
     width: 800px;
     margin: auto;
 }
 #banner {
    background-image: url("../img/BANNER-3.jpg") ;
   
}
#profile {
    background-image: url("../images/BANNER-2.jpg") ;
   
}


#home {
    /* background-image: url("../images/p0.jpg"); */
}

#about {
    /* background-image: url("../images/p1.jpg"); */
   
}

#news {
    /* background-image: url("../images/p2.jpg"); */
    
}
/* #news .container {
    width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
    
  } */


#service {
    /* background-image: url("../images/p3.jpg"); */
}

#contact {
    /* background-image: url("../images/p4.jpg"); */
}


/* html,
body {
    widows: 100%;
    height: 100%;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
} */

body {
    background-color: #f5f5f7;

}


section {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
}


/*.section-container{
    display: flex;
}
*/

/*#profile{
display:flex;
justify-content:center;
gap: 5rem;
height: 80vh;
}
*/

.section_pic-container img {
    width: 100%;
    margin:auto;
    padding:auto;
    border-radius: 5%;
    
}


.txt-bg h2 {
    text-align: center;
}

i {
    color: rgb(89, 155, 218);
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-color: black;
}

.section_pic-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 在圖片和文字之間創建空間 */
    margin-bottom: 50px; /* 與下一部分之間的間距 */
}

.section_text {
    flex: 1; /* 佔據剩餘空間 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中對齊 */
    align-items: center; /* 水平居中對齊 */
    text-align: center; /* 文本居中對齊 */
    margin-left: 20px; /* 圖片和文本之間的間距 */
}
.btn-container {
    display: flex;
    flex-direction: column; /* 垂直排列按鈕 */
    align-items: center; /* 水平居中對齊按鈕 */
    margin-top: auto; /* 文本和按鈕之間的間距 */
    margin-bottom: auto;
}
.btn {
    margin-bottom: 30px; /* 按鈕之間的垂直間距 */
    padding: 10px 20px; /* 增加按鈕點擊區域 */
    border-radius: 5px; /* 圓角按鈕 */
    font-size: 20px; /* 按鈕文本大小 */
    font-weight: bold; /* 按鈕文本加粗 */
}
.btn-color-2 {
    background-color: #000000; /* 按鈕藍色背景 */
    color: white; /* 白色文本顏色 */
    border: none; /* 移除按鈕邊框 */
}
.btn-color-1 {
    background-color: #000000; /* 按鈕紅色背景 */
    color: white; /* 白色文本顏色 */
    border: none; /* 移除按鈕邊框 */
}




.btn:hover {
    background-color: #005aa7; /* 按鈕懸停時的背景顏色 */
}

.btn-secondary {
    background-color: #d9534f;
}

.btn-secondary:hover {
    background-color: #c9302c;
}

.btn2 {
    display: inline-block;
    position: relative;
    z-index: 1;
    min-width: 200px;
    background: transparent;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    padding:20px 20px;
    margin: 25px;
    font-size: 20px
}
.btn2 span {
    position: absolute;
    width: 30%;
    height: 100%;
    background-color:black;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.btn2:hover,
.btn2:focus {
    color: white;
}
.btn2:hover span {
    transform: translateY(0) scale(2);
}
.btn2 span:nth-child(1) {
    --n: 1;
}
.btn2 span:nth-child(2) {
    --n: 2;
}
.btn2 span:nth-child(3) {
    --n: 3;
}
.btn span:nth-child(4) {
    --n: 4;
}
/* .pic{width: 500px;px; height:auto;overflow:hidden;}
.pic img{transform:scale(1,1);transition: all 1s ease-out;}
.pic img:hover{transform:scale(1.2,1.2);} */


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .footer {
    /* 取消浮動（方法一） */
    /* 不管有無上一層都可以做 */
    /* clear: both; */
    background-color: #514133;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.text-shadow {
    text-shadow: 1px 1px 1px black;
  }

/* Style all font awesome icons */
.fa {
    padding:10px 10px 10px 10px;
    
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }


  .fixed-size {
    width:100%; /* 使图片宽度适应父容器 */
    height: 200px; /* 设定固定高度 */
    object-fit: cover; /* 保持图片比例，裁剪溢出部分 */
}